---
http_interactions:
- request:
    method: get
    uri: http://data.fixer.io/api/2020-10-10?access_key=ab8cfd02257340f7492fa8f2bc66aed2&base=EUR&symbols=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Apilayer-Transaction-Id:
      - 7ee8dab8-d927-4695-8c39-240bfed8f9db
      Last-Modified:
      - Sat, 10 Oct 2020 23:59:59 GMT
      X-Request-Time:
      - '0.022'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"timestamp":1602374399,"historical":true,"base":"EUR","date":"2020-10-10","rates":{"USD":1.183085}}'
  recorded_at: Sun, 15 Nov 2020 10:33:09 GMT
recorded_with: VCR 6.0.0
