---
http_interactions:
- request:
    method: get
    uri: http://data.fixer.io/api/2020-10-10?access_key=ab8cfd02257340f7492fa8f2bc66aed2&base=:base&symbols=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Apilayer-Transaction-Id:
      - a3c9faac-f7cc-43f4-9bb0-1e3623418a6c
      X-Request-Time:
      - '0.016'
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"error":{"code":201,"type":"invalid_base_currency"}}'
  recorded_at: Sun, 15 Nov 2020 10:14:42 GMT
recorded_with: VCR 6.0.0
